*.class
.DS_Store
.metadata/
.recommenders/
.settings/
.svn/
*/bin/
*/gen/
*/obj/
*.tmp
*/build/
build/
local.properties
.idea/
.gradle/
partner_id.xml
thunder_android.iml
common/common.iml
*/*.iml
*.iml
*.trace
*.log
captures/
